<!-- Desktop Navigation -->
<nav class="hidden md:block">
  <ul class="flex space-x-4">
    <li>
      <a
        href="/manual"
        class="text-foreground-secondary no-underline hover:underline"
        title="Manual">Manual</a
      >
    </li>
    <li>
      <a
        href="https://github.com/omakasui/omadeb"
        class="text-foreground-secondary no-underline hover:underline"
        title="GitHub Repository"
        target="_blank"
        rel="noopener noreferrer"
      >
        Repository
      </a>
    </li>
    <li>
      <a
        href="https://omakasui.org"
        class="text-foreground-secondary no-underline hover:underline"
        title="See other projects by the author">More</a
      >
    </li>
  </ul>
</nav>
